---
layout: page
title: 課程資訊
---
<!-- courses -->
<section class="section">
  <div class="container">
    <div class="row justify-content-end mb-5 mr-1">
      <div class=" dropdown ">
        <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              歷年課程資訊
        </button>   
          <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
            {% for year in site.data.settings.course-year %}
            <a class="dropdown-item" href="#">{{year.academic}}</a>

            {% endfor %}
          </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.course-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" >
        <div class="position-relative rounded hover-wrapper">
          <img class="img-fluid rounded w-100 d-block" src="{{ site.baseurl }}/{{ item.image }}" alt="course-image" >
          <div class="card-body text-center">
            <h4 class="card-title">{{item.name}}</h4>
            <p class="cars-text">description</p>    
          </div>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}">查看課程</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /courses -->