<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/illustrations/SIRLA_Logo_300x286.png" alt="bg-img">
        <h2 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h2>
        <h4 class="text-light font-tertiary zindex-1">{{ site.data.settings.hero.hero-sub-title }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->