{% if site.data.settings.news-title %}
<!-- course_info -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-12 text-center mb-4">
        <h2>最新消息</h2>
        <p>歡迎到我們的粉專按個👍</p>
      </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsirla-fjulis&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=474087093463110" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</section>
<!-- /course_info -->
{% endif %}