---
layout: default
---
<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-4 pb-1">
  <div class="container">
    <div class="row">
      <div class="text-center mr-md-5 ml-md-5">
        {{ content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->

{% include work-process-section.html %}

{% include team-section.html %}
  
